/*https://coolors.co/palette/27187e-758bfd-aeb8fe-f1f2f6-ff8600*/

body {
  background-color: #aeb8fe;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 600;
  color: #27187e;
}

h1 {
  font-weight: 500;
  font-size: 5rem;
  text-align: left;
  font-family: "Jacquard 12", Helvetica, monospace;
  color: #ff8600;
}

h2 {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: left;
  font-family: "Jacquarda Bastarda 9", Courier, monospace;
  margin-bottom: 20px;
  color: #ff8600;
}

ul {
  display: flex;
  justify-content: center;
}

.imgcontainer {
  width: 1080px;
  min-height: 100px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper {
  width: 750px;
  background-color: #f1f2f6;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*I wanted to include a header here, not only to make the layout look more professional, 
but to space out the content using proper conventions. I've made a simple one here using a <div> class*/
.header {
  background-color: #27187e;
  min-width: 1000px;
  max-width: 10000px;
  min-height: 100px;
  max-height: fit-content;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px;
  justify-content: start;
  align-items: start;
}

.bold {
  font-weight: 500;
  font-family: "Jacquard 12";
  font-size: 4.5rem;
}

#idtag {
  color: #aeb8fe;
}
