/* Palette used here is :https://coolors.co/palette/27187e-758bfd-aeb8fe-f1f2f6-ff8600
I chose this not only because it fits congruously with the subject research experience,but also makes its dominating colour, orange, 
the accent shade in this final site. This is following the 60%/30%/10% rule for colour distribution (60 for dominant - blue, 30 for secondary - white, 10 for accent - orange),
allowing the screencap used to really catch the eye.*/

body {
  background-color: #aeb8fe;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 600;
  color: #27187e;
}

h1 {
  font-weight: 500;
  font-size: 5rem;
  text-align: left;
  font-family: "Jacquard 12", Helvetica, monospace;
  color: #ff8600;
}

h2 {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: left;
  font-family: "Jacquarda Bastarda 9", Courier, monospace;
  margin-bottom: 20px;
  color: #ff8600;
}

/*This is code for arranging the links on the navigation bar, and keeping them spaced far apart enough so they dont clip into each other.*/
ul {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*This changes the colour of the buttons if they are clicked on, which I've kept the same as the original colour for consistency, 
instead of the browser changing it to the default "visited colour", which I found unfitting for the palette. This code was adapted from 
W3schools's page on anchors, accessible here: https://www.w3schools.com/tags/tag_a.asp*/
a:link,
a:visited {
  color: #aeb8fe;
  text-decoration: underline;
  cursor: auto;
}

/*As briefly mentioned in the html file, I opted to use a div to house the image instead of altering the attributes of the <img> element 
just to allow embedded images to have separate dimensions/margins/padding/alignment if I were to hypothetically add more.*/
.imgcontainer {
  width: 1080px;
  min-height: 100px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Here I've designed the wrapper div, making it centered and making it white so it stands out from the 
background and keeps the text visible.*/
.wrapper {
  width: 750px;
  background-color: #f1f2f6;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/*I wanted to include a header here, not only to make the layout look more professional, but to space out the content using proper conventions. 
I've made a simple one here using a <div> class that contains the navigation bar, and made it responsive to differently sized computer screen using min-height and max-height.*/
.header {
  background-color: #27187e;
  opacity: 97%;
  min-width: 1000px;
  max-width: 10000px;
  min-height: 50px;
  max-height: 200px;
  margin-bottom: 20px;
  padding: 14px;
  padding-top: 10px;
  justify-content: start;
  align-items: start;
  /*This section makes the header sticky, allowing for the navigation bar to actually have purpose for visitors 
  wanting to jump to specific questions or return to the start, and following in line with layout conventions.
  This code specifically is adapted from T. Valentine(@honey-hamster)'s HTML portfolio template, accessible here:"https://html-portfolio.neocities.org/"*/
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/*This is a custom class for the question markers of each subtitle, just to differentiate the text.*/
.bold {
  font-weight: 500;
  font-family: "Jacquard 12";
  font-size: 4.5rem;
}

/*This is a unique id used just for demonstration. It makes the student name a different colour from the header, 
and was used just to compare usage between an id and the <flex> element.*/
#studentname {
  color: #aeb8fe;
}
