body {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", Courier, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: #ff80ac;
  padding: 10px;
  background-image: url(https://file.garden/aGJwdAK8lRt7Ht-6/assignment3/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.outer {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  width: 1920;
  height: 1080;
}

.stage {
  display: block;
  width: 100%;
  min-width: 300px;
  max-width: 750px;
  min-height: 500px;
  max-height: 950px;
}

.wardrobe {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(66, 245, 215, 0.6);
  border-radius: 12px;
  min-width: 300px;
  max-width: 750px;
  min-height: 500px;
  max-height: 1000px;
}

#figure {
  width: 488px;
  height: 837px;
  background-image: url(https://file.garden/aGJwdAK8lRt7Ht-6/assignment3/figure.png);
  position: absolute top;
  z-index: -1;
}

.top-stage {
  width: 488px;
  height: 837px;
  position: absolute top;
  z-index: 3;
}

.bottoms-stage {
  width: 488px;
  height: 837px;
  position: absolute top;
  z-index: 2;
}

.clothes {
  scale: 100%;
  transition: scale 0.9s ease;
}

.clothes:hover {
  scale: 0.98;
  cursor: pointer;
}

.clothes2:hover {
  scale: 0.98;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 1.7rem;
  font-weight: 800;
  color: rgb(63, 63, 63);
  border-radius: 30px;
  background-color: #ff8eb9;
}
